<!-- © 2017 Chris Wilson. All rights reserved. -->

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="https://github.com/ChristopherRWilson/RocketryMath" class="btn btn-info btn-lg"><i class="fa fa-github" aria-hidden="true"></i> Follow us on GitHub</a>
</p>

<p>
    <address>
        <strong>General:</strong>   <a href="mailto:chris@ocmit">chris@ocmit.com</a><br />
    </address>
</p>