<!-- © 2017 Chris Wilson. All rights reserved. -->

@Html.Partial("RocketMaterials")

<h2>Model Rocket Testing</h2>
<p>Last updated 02/08/2003</p>
<p>Yes, I do testing for model rockets too. This first group was sent in by Darren Longhorn from all the way across the pond in England. Darren glued hexagonal polystyrene rods to heavy cardboard stock.  The as-recieved conditions can be seen here. The method used to test the samples can be seen here.</p>

<p>
    The glues used are as follows:
    <ul>
        <li>Cyanoacrlilate - Loctite brand</li>
        <li>Epoxy - NHP 12-minute brand</li>
        <li>PVA - Evo-stick brand</li>
        <li>Polystyrene Cement - Humbrol brandv</li>
        <li>Aliphatic Resin - Titebond brand</li>
    </ul>
</p>

<table class="table table-bordered table-striped ">
    <tbody>
        <tr>
            <td><strong>Test</strong></td>
            <td><strong>Glue</strong></td>
            <td><strong>Notes</strong></td>
            <td><strong>Peak Load (lbs) </strong></td>
            <td><strong>Test Specimen </strong></td>
            <td><strong>Notes</strong></td>
        </tr>
        <tr>
            <td>Rod 1</td>
            <td>Test of the rod by itself</td>
            <td>Rod slipped in jaws - Bad test</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Rod 2</td>
            <td></td>
            <td></td>
            <td>41.88064</td>
            <td>Pic of sample</td>
            <td>During test</td>
        </tr>
        <tr>
            <td>Rod 3</td>
            <td></td>
            <td></td>
            <td>41.23494 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Rod 4 </td>
            <td></td>
            <td></td>
            <td>43.20242 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Alph 1 </td>
            <td>Aliphatic Resin (Wood Glue) </td>
            <td>All failed during shipping</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Alph 2 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Alph 3 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Alph 4 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Poly 1 </td>
            <td>Polystyrene Cement </td>
            <td>All After Test</td>
            <td>33.78061 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Poly 2 </td>
            <td></td>
            <td></td>
            <td>23.78363 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Poly 3 </td>
            <td></td>
            <td></td>
            <td>34.98659 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Poly 4 </td>
            <td></td>
            <td></td>
            <td>34.47016</td>
            <td>After Test</td>
            <td></td>
        </tr>
        <tr>
            <td>PVA 1 </td>
            <td></td>
            <td>Failed Durring Shipment</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>PVA 2 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>PVA 3 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>PVA 4 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>CA 1 </td>
            <td>CA </td>
            <td>All After Test</td>
            <td>35.15814</td>
            <td>After Test</td>
            <td></td>
        </tr>
        <tr>
            <td>CA 2 </td>
            <td></td>
            <td></td>
            <td>32.40165 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>CA 3 </td>
            <td></td>
            <td></td>
            <td>32.40165 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>CA 4 </td>
            <td></td>
            <td></td>
            <td>33.77938 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Epoxy 1 </td>
            <td>Epoxy </td>
            <td>All After Test</td>
            <td>20.33619 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Epoxy 2 </td>
            <td></td>
            <td></td>
            <td>33.95293 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Epoxy 3 </td>
            <td></td>
            <td></td>
            <td>26.36869 </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Epoxy 4 </td>
            <td></td>
            <td></td>
            <td>36.71004</td>
            <td>After Test</td>
            <td></td>
        </tr>
    </tbody>
</table>