<!-- © 2017 Chris Wilson. All rights reserved. -->

@Html.Partial("RocketMaterials")

<h2>Fin Cans</h2>
<p>Last updated 03/21/2003</p>
<h3>Fin Cans</h3>
<p>These are the "Fin Can Kits" I sent out. There were 6 total kits. The materials were donated by Jerry Irvine. Each kit had two birch ply centering rings, two 1/8 " plywood fins with a 3" root edge, a 4" long 29mm engine tube and a 4.5" long, 2.6 Dia glassine body tube. The instructions were to assemble the can using a provided diagram. The construction consisted of through the wall fin mounting and internal fillets. Three were done with wood glue and 3 with epoxy. Each person building a fin can voted on how to test them.</p>
<p>All parts were donated by US Rockets and Jerry Irvine.</p>

<table class="table table-bordered table-striped ">
    <thead>
    <tr>
        <td>Test</td>
        <td>Constructor</td>
        <td>Glue Used</td>
        <td>Notes</td>
        <td>Peak Load (lbs)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1W</td>
        <td>Bill Kennedy</td>
        <td>Elmer's Carpenters wood glue</td>
        <td>Dark glue - Very Brittle</td>
        <td>66.185</td>
    </tr>
    <tr>
        <td>2W</td>
        <td>Mark Simpson</td>
        <td>Titebond II </td>
        <td>Added Basswood in fillets</td>
        <td>493.651</td>
    </tr>
    <tr>
        <td>3W</td>
        <td>John Demar</td>
        <td>Wood glue</td>
        <td>Looks Like Classic Standard Building</td>
        <td>387.991</td>
    </tr>
    <tr>
        <td>1E</td>
        <td>Nicholas Stitch</td>
        <td>System 3 Hardener #1, Silica</td>
        <td>~15 min cure, Very Brittle</td>
        <td>217.176</td>
    </tr>
    <tr>
        <td></td>
        <td>Mark Simpson</td>
        <td>Wood glue</td>
        <td>Wood braces at fillets</td>
        <td>209.600</td>
    </tr>
    <tr>
        <td></td>
        <td>Bill kenedy</td>
        <td>Black stuff</td>
        <td></td>
        <td>188.916</td>
    </tr>
    <tr>
        <td></td>
        <td>Bill Kenedy</td>
        <td>Epoxy</td>
        <td></td>
        <td>187.192</td>
    </tr>
    <tr>
        <td></td>
        <td>Jeff S</td>
        <td>Wood Glue</td>
        <td></td>
        <td>193.397</td>
    </tr>
    <tr>
        <td></td>
        <td>Vigra</td>
        <td>Wood Glue</td>
        <td>Foam</td>
        <td>233.041</td>
    </tr>
    <tr>
        <td></td>
        <td>Vigra</td>
        <td>Wood Glue</td>
        <td>No Foam</td>
        <td>191.673</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Salerno</td>
        <td>Epoxy</td>
        <td>6 oz glass at fillet</td>
        <td>341.287</td>
    </tr>
    </tbody>
</table>