<!-- © 2017 Chris Wilson. All rights reserved. -->

@Html.Partial("RocketMaterials")

<h2>Fin Tension Tests / Glue Adhesion</h2>

<div class="bs-callout bs-callout-error">
    <h4>Duplicate page</h4>
    <p>
        This page simply redirected to the <a href="@Url.Action("Fins_Tension")">Fin Tension Tests</a> page, I am leaving this here as a palce holder.
    </p>
</div>