<!-- © 2017 Chris Wilson. All rights reserved. -->

@Html.Partial("RocketMaterials")

<h2>Motor Retainers</h2>
<p>Last updated 02/08/2003</p>
<h3>Motor Retention</h3>

<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <td>Sample</td>
            <td>Type</td>
            <td>Peak Load (lbs)</td>
            <td>Glue</td>
            <td>Wood</td>
            <td>Screw Size</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Press Fit</td>
            <td>168.232</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td>Pic</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Press Fit</td>
            <td>196.155</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td>x</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Press Fit</td>
            <td>178.229</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td>x</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Press Fit</td>
            <td>276.133</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Mean</td>
            <td>0</td>
            <td>204.697</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Std Dev</td>
            <td>0</td>
            <td>49.011</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Screw In</td>
            <td>458.237</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td>Pic</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Screw In</td>
            <td>447.464</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Screw In</td>
            <td>440.311</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>8-32</td>
            <td></td>
        </tr>
        <tr>
            <td>Mean</td>
            <td>0</td>
            <td>448.671</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Std Dev</td>
            <td>0</td>
            <td>9.0237</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Flange</td>
            <td>176.850</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>10-24</td>
            <td>Flange Out</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Flange</td>
            <td>450.222</td>
            <td>15 min Bob Smith Epoxy</td>
            <td>3/16 Bud Nosen Aircraft Ply</td>
            <td>10-24</td>
            <td>Flange In</td>
        </tr>
        <tr>
            <td>Mean</td>
            <td>0</td>
            <td>313.536</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Std Dev</td>
            <td>0</td>
            <td>193.303</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

<h3>Joel Corwith Retainers*</h3>
<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <td>Sample #</td>
            <td>Type</td>
            <td>Peak Load (lbs)</td>
            <td>Glue</td>
            <td>Wood</td>
            <td>Screw Size</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001-8C</td>
            <td></td>
            <td>92.047</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>001-8A</td>
            <td></td>
            <td>84.117</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>001-8B</td>
            <td></td>
            <td>140.308</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#8</td>
            <td>Bad data, must re-plot graph</td>
        </tr>
        <tr>
            <td>005-8A</td>
            <td></td>
            <td>256.138</td>
            <td>Superglue</td>
            <td>1/4 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>005-8B</td>
            <td></td>
            <td>260.275</td>
            <td>Superglue</td>
            <td>1/4 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>005-8C</td>
            <td></td>
            <td>266.825</td>
            <td>Superglue</td>
            <td>1/4 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>003-6A</td>
            <td></td>
            <td>122.382</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>003-6B</td>
            <td></td>
            <td>168.576</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>003-6C</td>
            <td></td>
            <td>125.126</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>007-6A</td>
            <td></td>
            <td>283.027</td>
            <td>Superglue</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>007-6B</td>
            <td></td>
            <td>274.409</td>
            <td>Superglue</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>007-6C</td>
            <td></td>
            <td>288.198</td>
            <td>Superglue</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>002-8C</td>
            <td></td>
            <td>54.470</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>002-8B</td>
            <td></td>
            <td>54.471</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>002-8A</td>
            <td></td>
            <td>51.368</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>006-8A</td>
            <td></td>
            <td>95.838</td>
            <td>Superglue</td>
            <td>1/8 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>006-8B</td>
            <td></td>
            <td>57.918</td>
            <td>Superglue</td>
            <td>1/8 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>006-8C</td>
            <td></td>
            <td>75.154</td>
            <td>Superglue</td>
            <td>1/8 ply</td>
            <td>#8</td>
            <td></td>
        </tr>
        <tr>
            <td>004-6A</td>
            <td></td>
            <td>80.325</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>004-6B</td>
            <td></td>
            <td>66.191</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>004-6C</td>
            <td></td>
            <td>61.365</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>008-6A</td>
            <td></td>
            <td>76.878</td>
            <td>Superglue</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>008-6B</td>
            <td></td>
            <td>127.209</td>
            <td>Superglue</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
        <tr>
            <td>008-6C</td>
            <td></td>
            <td>135.482</td>
            <td>Superglue</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td></td>
        </tr>
    </tbody>
</table>
<p>* Machine screws threaded into centering ring material</p>
<h3>Hardware store type wall anchors used for retrofitting</h3>
<table class="table table-bordered table-striped ">
    <thead>
        <tr class="data">
            <td>Sample #</td>
            <td>Type</td>
            <td>Peak Load (lbs)</td>
            <td>Glue</td>
            <td>Wood</td>
            <td>Screw Size</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        <tr class="data">
            <td>023-6A</td>
            <td>Hollow</td>
            <td>158.234</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td>Removed 2 prongs before use</td>
        </tr>
        <tr class="data">
            <td>021-6A</td>
            <td>Hollow</td>
            <td>246.141</td>
            <td>None</td>
            <td>1/8 ply</td>
            <td>#6</td>
            <td>4 prong</td>
        </tr>
        <tr class="data">
            <td>022-6A</td>
            <td>Hollow</td>
            <td>240.625</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td>Removed 2 prongs before use</td>
        </tr>
        <tr class="data">
            <td>020-6A</td>
            <td>Hollow</td>
            <td>126.174</td>
            <td>None</td>
            <td>1/4 ply</td>
            <td>#6</td>
            <td>4 prong</td>
        </tr>
    </tbody>
</table>