<!-- © 2017 Chris Wilson. All rights reserved. -->

@Html.Partial("RocketMaterials")

<h2>Other Rocket Hardware</h2>
<p>Last updated 02/08/2003</p>
<h3>Other Hardware</h3>

<table class="table table-bordered table-striped ">
    <thead>
    <tr>
        <td>Device</td>
        <td>Size</td>
        <td>SWL (lbs)</td>
        <td>Brand</td>
        <td>Tensile (psi)</td>
        <td>Yield (psi)</td>
        <td>Peak Load (lbs)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Eye Bolt</td>
        <td>1/4 20</td>
        <td>NA</td>
        <td>Crown Bolt</td>
        <td>NA</td>
        <td>NA</td>
        <td>436.779</td>
    </tr>
    <tr>
        <td>Stainless Machine Screw</td>
        <td>10-24</td>
        <td>NA</td>
        <td>Crown Bolt</td>
        <td>81,513.39</td>
        <td>71,851.622</td>
        <td></td>
    </tr>
    <tr>
        <td>Standard Machine Screw</td>
        <td>10-32</td>
        <td>NA</td>
        <td>Crown Bolt</td>
        <td>70,773.11</td>
        <td>66,532.858</td>
        <td></td>
    </tr>
    </tbody>
</table>

<h3>18-8 Stainless Steel All-Thread from Roger Lipke </h3>
<table class="table table-bordered table-striped ">
    <thead>
        <tr class="data">
            <td>Size</td>
            <td>Yield (psi)</td>
            <td>Tensile (psi)</td>
            <td>Peak Load (lbf)</td>
            <td>Elongation (%)</td>
            <td>RA (%)</td>
        </tr>
    </thead>
    <tbody>
        <tr class="data">
            <td>10-32</td>
            <td>76,537</td>
            <td>102,637</td>
            <td>1,765.7</td>
            <td>20.6</td>
            <td>58.8</td>
        </tr>
        <tr class="data">
            <td>10-32</td>
            <td>61,137</td>
            <td>102,505</td>
            <td>1,763.4</td>
            <td>19.4</td>
            <td>53.4</td>
        </tr>
        <tr class="data">
            <td>10-32</td>
            <td>76,827</td>
            <td>103,349</td>
            <td>1,778.0</td>
            <td>20.3</td>
            <td>53.4</td>
        </tr>
        <tr class="data">
            <td>1/4-20</td>
            <td>154,663</td>
            <td>177,745</td>
            <td>4,324.3</td>
            <td>15.1</td>
            <td>27.4</td>
        </tr>
        <tr class="data">
            <td>1/4-20</td>
            <td>123,475</td>
            <td>176,109</td>
            <td>4,284.5</td>
            <td>22.9</td>
            <td>34.9</td>
        </tr>
        <tr class="data">
            <td>1/4-20</td>
            <td>102,901</td>
            <td>176,825</td>
            <td>4,301.9</td>
            <td>20.4</td>
            <td>18.9</td>
        </tr>
        <tr class="data">
            <td>5/16-18</td>
            <td>115,406</td>
            <td>163,438</td>
            <td>6,909.1</td>
            <td>26.0</td>
            <td>27.9</td>
        </tr>
        <tr class="data">
            <td>5/16-18</td>
            <td>117,103</td>
            <td>162,904</td>
            <td>6,886.5</td>
            <td>27.3</td>
            <td>30.8</td>
        </tr>
        <tr class="data">
            <td>5/16-18</td>
            <td>114,342</td>
            <td>163,071</td>
            <td>6,893.6</td>
            <td>27.1</td>
            <td>30.8</td>
        </tr>
    </tbody>
</table>