<!-- © 2017 Chris Wilson. All rights reserved. -->

<div class="bs-callout bs-callout-info">
    <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Data from RocketMaterials.org</h4>
    <p>
        The data on this page was copied verbatim from the now defunct site <a href="http://www.rocketmaterials.org">www.rocketmaterials.org</a>. I have not collected this data, nor have I verified any of it. I am simply providing it as an useful resource.
    </p>
    <p>
        This data was retrieved from the <a href="http://www.archive.org">Internet Archive</a>, from a copy of the RocketMaterials.org site that was archived on February 19th, 2015
    </p>
</div>

<div class="container">
    @Html.Partial("_RocketMaterialsNavigation")
</div>