<!-- © 2017 Chris Wilson. All rights reserved. -->

@model RocketryMath.Interfaces.IFormula
    S
    <h1>@Model.FormulaName()</h1>
    @Html.Raw(Model.FormulaDescription())
    <br />
    <div>$$@Model.FormulaMarkup()$$</div>